<div class="tab-pane show active" id="product-variant-details" role="tabpanel" tabindex="0">
    <div class="card mb-3">
        {% hook 'general' with { _prefixes: ['sylius_admin.product_variant.create.content.form.sections'] } %}
    </div>
</div>
