<li>
    <a class="dropdown-item" href="{{ path('sylius_admin_taxon_create_for_parent', { id: '__TAXON_ID__' }) }}">
        {{ ux_icon('tabler:plus', { class: 'icon dropdown-item-icon icon-tabler icon-tabler-settings' }) }}
        {{ 'sylius.ui.create_child'|trans }}
    </a>
</li>
