{% if hookable_metadata.context.channel is defined %}
    <td {{ sylius_test_html_attribute('channel', "%s"|format(hookable_metadata.context.channel.code)) }}>
        <div class="status status-blue status-lite">
            <span class="status-dot" style="background-color: {{ hookable_metadata.context.channel.color }}"></span>
            <span class="text-nowrap fs-5">{{ hookable_metadata.context.channel.name }}</span>
        </div>
    </td>
{% else %}
    <td></td>
{% endif %}
