<div class="mb-6">
    <div class="overflow-hidden">
        <div class="d-flex justify-content-center align-items-center position-relative">
            <img src="{{ asset('build/shop/images/homepage-banner.webp', 'shop') }}" width="1920" height="100%" class="img-fluid" alt="Home">
            <img src="{{ asset('build/shop/images/homepage-banner-logo.webp', 'shop') }}" class="position-absolute" style="max-width: 40vw" alt="New collection">
        </div>
    </div>
</div>
