{% extends '@SyliusShop/checkout/shared/layout.html.twig' %}

{% set checkout_address_hook = 'sylius_shop.checkout' %}
{% set prefixes = [checkout_address_hook] %}
{% set active_step = 'address' %}

{% block title %}
    {{ 'sylius.ui.address'|trans }} | {{ parent() }}
{% endblock %}

{% block content %}
    <div class="pe-lg-6">
        {% hook 'address' with { _prefixes: prefixes, active_step, form, order } %}
    </div>
{% endblock %}
