{% extends '@SyliusShop/checkout/shared/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.complete'|trans }} | {{ parent() }}{% endblock %}
{% block content_title %}{{ 'sylius.ui.summary_of_your_order'|trans }}{% endblock %}

{% set active_step = 'complete' %}
{% set prefixes = ['sylius_shop.checkout'] %}

{% block content %}
    <div class="mx-auto" style="max-width: var(--bs-breakpoint-lg)">
        {% hook 'complete' with { _prefixes: prefixes, order, form, active_step } %}
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
