{% set generic_hook = 'sylius_admin.base' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% block metatags %}
            {% hook generic_hook ~ '#metatags' %}
        {% endblock %}

        <title>{% block title %}Sylius{% endblock %}</title>

        {% block stylesheets %}
            {% hook generic_hook ~ '#stylesheets' %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div class="page">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {% hook generic_hook ~ '#javascripts' %}
        {% endblock %}
    </body>
</html>
