<div class="row">
    {% hook 'sections' %}
</div>
<div class="row">
    <div class="col-12 col-md-6">
        {% hook 'sections#left' %}
    </div>
    <div class="col-12 col-md-6">
        {% hook 'sections#right' %}
    </div>
</div>
